body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  }

*{
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app__header{
  width: 100%;
  height: 50px;
  background-color: #ffc250;
  padding: 5px 20px;
  box-sizing: border-box;
}

.app__header .logo{
  width: 40px;
}
